<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="mav_name" default="ironman"/>
	<arg name="calibration_offset" default="-0.041"/>
	<arg name="cam_fps" default="20"/>
    <arg name="expose_us" default="20000"/>
    <arg name="device" default="26807376"/>
    <arg name="indoor" default="false"/>
    <arg name="fcu_url_vio" default="/dev/viimu:921600" />
    <arg name="fcu_url_pilot" default="/dev/pilot:921600" />
    <arg name="gcs_url_vio" default="" />
    <arg name="gcs_url_pilot" default="udp://@172.17.79.199:14550" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="log_output_mavros" default="log" />
    <arg name="respawn_mavros" default="false" />
    <arg name="2k_exp" default="true"/>
    <arg name="4k_exp" default="false"/>
    <arg name="20k_exp" default="false"/>

    <!-- <group if="$(arg 2k_exp)">
    	<arg name="expose_us" value="2000"/>
    	<arg name="calibration_offset" value="-0.0008"/>
	</group>
	
	<group if="$(arg 4k_exp)">
    	<arg name="expose_us" value="4000"/>
    	<arg name="calibration_offset" value="-0.00027"/>
	</group>
	
	<group if="$(arg 20k_exp)">
    	<arg name="expose_us" value="20000"/>
    	<arg name="calibration_offset" value="-0.041"/>
	</group> -->

	<!-- <arg name="gcs_url" default="udp://@172.27.20.73:14550"/> -->

	<group ns="$(arg mav_name)">

		<node name="mav_nonlinear_mpc" pkg="mav_nonlinear_mpc" type="nonlinear_mpc_node" respawn="true" clear_params="true" output="log">
			<remap from="odometry" to="/odometry" />
			<rosparam file="$(find mav_utils_ariitk)/cfg/$(arg mav_name)/disturbance_observer_$(arg mav_name).yaml"/>
			<rosparam file="$(find mav_utils_ariitk)/cfg/$(arg mav_name)/nonlinear_mpc_$(arg mav_name).yaml"/>
			<remap from="rc" to="pilot/rc/in"/>
			<param name="reference_frame" value="world"/> 
			<param name="simulation" value="false"/> 
			<param name="verbose" value="false"/>
			<param name="autopilot_interface" value="mavros"/>
			<remap from="command/roll_pitch_yawrate_thrust" to="pilot/setpoint_raw/roll_pitch_yawrate_thrust"/>
		</node>

		<node pkg="mavros" type="mavros_node" name="pilot" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output_mavros)" respawn="$(arg respawn_mavros)">
			<param name="fcu_url" value="$(arg fcu_url_pilot)" />
			<param name="gcs_url" value="$(arg gcs_url_pilot)" />
			<param name="fcu_protocol" value="$(arg fcu_protocol)" />
			<rosparam command="load" file="$(find mav_utils_ariitk)/cfg/mavros/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find mav_utils_ariitk)/cfg/mavros/px4_config.yaml" />
		</node>

		<node pkg="mavros" type="mavros_node" name="viimu" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output_mavros)" respawn="$(arg respawn_mavros)">
			<param name="fcu_url" value="$(arg fcu_url_vio)" />
			<param name="gcs_url" value="$(arg gcs_url_vio)" />
			<remap from="viimu/cam_imu_sync/cam_imu_stamp" to="/mavros/cam_imu_sync/cam_imu_stamp"/>
			<remap from="viimu/cmd/trigger_control" to="/mavros/cmd/trigger_control"/>
			<param name="fcu_protocol" value="$(arg fcu_protocol)" />
			<rosparam command="load" file="$(find mav_utils_ariitk)/cfg/mavros/px4_pluginlists.yaml" />
			<rosparam command="load" file="$(find mav_utils_ariitk)/cfg/mavros/px4_config.yaml" />
		</node>

		<node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  			<param name="filter_config" value="$(find mav_utils_ariitk)/cfg/rovio/rovio_rig_filter.info"/>
  			<param name="camera0_config" value="$(find mav_utils_ariitk)/cfg/rovio/rovio_rig_camera.yaml"/>
  			<remap from="cam0/image_raw" to="mv/image_raw"/>
  			<remap from="imu0" to="viimu/imu/data_raw"/>
  		</node>

    	<include file="$(find bluefox2)/launch/single_node.launch">
           	<arg name="device" value="$(arg device)"/>
        	<arg name="fps" value="$(arg cam_fps)"/>
        	<arg name="expose_us" value="$(arg expose_us)"/>
        	<arg name="ctm" value="3"/>
			<arg name="calibration_offset" value="$(arg calibration_offset)"/>
    	</include>

		<!-- vrpn_client_node -->
		<!-- <include file="$(find vrpn_client_ros)/launch/sample.launch"/> -->

		<!-- pose_to_odom -->
	 	<!-- <node pkg ="mav_utils_ariitk" type="imu_vicon_avg.py" name="pose_to_odom"/> -->


	 	<!-- <node name="pose_sensor_rovio" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
      		<remap from="msf_core/imu_state_input" to="pilot/imu/data" />
      		<remap from="msf_updates/transform_input" to="rovio/transform" />
      		<rosparam file="$(find mav_utils_ariitk)/cfg/sb/msf_sb_raw.yaml"/>
		</node>
 -->
	</group>
		
</launch>

